body {
    background-color: #e9f0ed;
}

input {
    outline: none;
    background-color: #f5faf8;

}

h1 {
    color: rgb(46, 66, 59);
    opacity: 0.8;
}

ul {
    width: 80%;
    background-color: #f5faf8;
    opacity: 0.8;
}

.list>* {
    list-style-type: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 20px;
}

li:hover>* {
    visibility: visible;
}

.list {
    width: 40%
}

.oculto {
    visibility: hidden;
}

.small {
    font-size: 12px;
}

.marco1 {
    width: 77%
}

.marco2 {
    width: 73%
}